*{
    background-color: darkgray;
}
#page-heading{
    color: darkslategray;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    text-align-last: center;
}

.heading{
    color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
}

.body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

img{
    height: auto;
    width:50%;
}
.recipe-list{
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;

}